<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verification</title>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="application/javascript">(function () {emailjs.init("uHfgkKbMF4ETK_2QK");})();</script>
    <script src="./mailsender.js"></script>
</head>
<body>
    <h1>Verifying....</h1>
</body>

</html>