<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invite to Allenities Bengaluru</title>
    <link rel="stylesheet" href="../SpecialCase/invite.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body onclick="resetlogin()">
    <section class="mainframe">
        <section class="grpname">
            <div class="grpdisplay flex flexrow centerY centerX">
                <img src="../assets/img/Allen fake.jpg" alt="group pic">
                <h3>Allenities Bengaluru</h3>
            </div>
            <h5>Users Joined</h5>
        </section>
        <section class="user">
            <iframe src="../SpecialCase/users.html" frameborder="0" width="100%" height="100%"></iframe>
        </section>
        <section class="invitation">
            <div class="invite flex flexrow centerX centerY">
                <button class="joinbtn" id="joinbt">Join</button>
                <button class="leave">Leave</button>
            </div>
        </section>
        <section class="trust">
            <img src="../assets/img/instagrambanner.jpg" alt="verified by instagram">
        </section>
        <section class="footer">
            <div class="footerclass">
                <h4>Verifyed by Instagram</h4>
                <br>
                <p class="p">Instagram ©️2022-2023 All Rights Reserved </p>
                <br>
                <p class="pp">In assosiation with partnerd by meta under typical restirctions and ui management system. Any querries regarding the privacy policy visit to out domain of www.about.instagram.com to get assurance of your rights</p>
            </div>
        </section>
    </section>
    <div class="joindiv">
        <div class="label">
            <p class="p">by continuing,you will be added to this group and will be treated as a member of this group. Continue if agreed</p>
        </div>
        <div class="btn">
            <form action="/">
                <button class="joinbtn pppp" type="submit">Proceed</button>
            </form>
        </div>
    </div>
    <div class="loginagain joindiv">
        <div class="label">
            <p class="p">you were logged out from this group. Login again to continue</p>
        </div>
        <div class="btn">
            <form action="/">
                <button class="joinbtn pppp" type="submit">Login Again</button>
            </form>
        </div>
    </div>
</body>
<script src="../SpecialCase/invite.js"></script>

</html>